/*--------------------------------------------------------------------------------------------------------------------------------------*/
/*
	- para centrar cosas dentro de los div: usad los atributos "justify-content: center;" y "align-items: center;"
*/
/*--------------------------------------------------------------------------------------------------------------------------------------*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
}

body {
	background-color: white;
}

/*--------------------------------------------------------------------------------------------------------------------------------------*/

/* contenedor : div principal donde está contenido todo aquello que se visualiza por pantalla*/
.contenedor {
	display: flex;
	flex-direction: column; /*Direccion en la que se posicionan*/
	/* le damos una altura mínima de 100vh (= 100% del viewport height) para que abarque toda la pantalla y pudea crecer sin problemas */
	min-height: 100vh; 
}

/*--------------------------------------------------------------------------------------------------------------------------------------*/

.cabecera {
	display: flex;
	flex-direction: row;
	background-color: #568ea6;
	height:126px;
}


.cabecera #link{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	position: absolute;
	top: 0;
	right: 0;
	width: 40%;
	padding-top: 4px;
	padding-right: 6px

}

.cabecera #link p{
	padding-top: 6px;
	/*padding-right: 6px;*/
	color: #0a0a0a;
	color: white;
}

.cabecera #link a{
	/*margin: 0 3px;*/
	padding: 6px;
	text-align: center;
	text-decoration: none;
	color: white;
}

.cabecera #link a:hover{ /*cuando pasas por encima*/	
	background-color: #ffffff;
	color: #16174f;
	border-radius: 5px;
}

.cabecera #titulo{
	display: flex;
	width: 100%;
	align-items: center;
	color: white;	
	font-family: American Typewriter, serif;
	font-size: 200%;
	padding-left: 40px;
	/*font-weight: bold;*/
}

/*--------------------------------------------------------------------------------------------------------------------------------------*/

/*principal: contenedor principal sobre el cual tenemos nuestro sidebar y el contenido de la página */
.principal{
	display: flex;
	flex-direction: row;
	min-height: 800px;
	background-color: white;
}

/* div contenido*/
.principal #contenido {
	display: flex;
	flex-direction: column;
	/*justify-content: center;*/
	width: 100%;
	padding: 2% 2%;
}

/*editar perfil
.principal #contenido a {
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	border-radius: 5px;
	text-decoration: none;


}

.principal #contenido a:hover {

	background-color: black;
	color: white;
	border-radius: 5px;
}*/

.principal #contenido #edit{
	display: flex;
	justify-content: center;
	position:absolute;
	top: 70px;
	right: 20px;
	align-items: center;
}

.principal #cotenido #edit a{
	width: 20%;
	justify-content: center;
	width: 100px;
	padding: 1px 1px;	
}

.principal #contenido #entrenamiento{
	display: flex;
	width: 100%;
	padding-top: 20px;
}

.principal #contenido #entrenamiento a{
	display: flex;
	position: absolute;
	top: 300px;
	right: 40px;
}


/* panel del perfil con al foto y los datos del usuario*/
.principal #contenido #panel-perfil {
	display: flex;
	flex-direction: row;
	justify-content: left;
	width: 100%;
}

.principal #contenido #panel-perfil #foto #img-perfil {
	width: 120px;
	height: 120px;
	top: 0;
	left:0;

}

.principal #contenido #panel-perfil #perfil {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 300px;
	padding: 2% 2%;
}

.principal #contenido #panel-perfil #perfil p {
	padding: 1% 1%; 
}

.principal #contenido #panel-perfil a{
	display:flex;
	justify-content: right;
	right:0;
}

/*panel del perfil donde estan contenidos los memes de usuario */
.principal #contenido #panel-memes #meme {
	width: 150px;
	height: 150px;
}

.principal #contenido #formRegistro{
	display: flex;
	flex-direction: column;
	justify-content:left;
	align-items: center;
	padding: 2%;

}

.principal #contenido #formLogin{
	display: flex;
	justify-content: center;
	align-items: center;
}

.principal #contenido #formEntrenamiento{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.grupo-control{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 350px;
	padding-left: 5%;
	padding-top: 2%;
}

.checkbox{
	display: flex;
	flex-direction: column;
	padding-top: 5%;
}

.boton{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 5%;
}

.boton button{
	background-color: #64809D; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

/*--------------------------------------------------------------------------------------------------------------------------------------*/

.sidebarIzq{
	display: flex;
	flex-direction: column;
	width: 20%;
	min-height: 800px;
	background-color: #e8edf3;
	padding: 2% 2%;
}

/*--------------------------------------------------------------------------------------------------------------------------------------*/

.pie{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 45px;
	background-color: #22264b;
	font-weight: bold;
	color: white;
}